.shop {
  margin: 150px;
  .galerie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(10px, auto);
    margin: auto;

    .box {
      position: relative;
      overflow: hidden;
    }
    
  }
}
