.shop {
  margin: 15% 8%;
  .galerie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    grid-auto-rows: minmax(10px, auto);
    margin: auto;
    overflow: hidden;

    .produit {
      width: 100%;
      overflow: hidden;
      position: relative;
      cursor: pointer;

      img {
        width: 100%;
        transition: 1s;
        position: relative;
      }

      &:hover img {
        transform: scale(1.1);
      }

      .caption {
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 248, 236, 0.5);
        transform: scale(1.5);
        opacity: 0;
        transition: 0.5s;

        .about {
          width: 100%;
          height: 80%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          text-align: center;

          h2 {
            text-transform: uppercase;
            font-size: 1.9em;
          }

          p {
            color: white;
            font-style: italic;
          }
        }
      }

      &:hover .caption {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1100px) {
  .shop {
    margin: 15% 2%;
    .galerie {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .produit {
        width: 324px;

        img {
        }

        &:hover img {
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .shop {
    .galerie {
      gap: 26px;

      .produit {
        img {
        }

        &:hover img {
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .shop {
    .galerie {
      .produit {
        img {
        }

        &:hover img {
          transform: scale(1);
        }

        .caption {
          background: none;
          position: relative;
          display: flex;
          justify-content: center;
          width: 100%;
          height: 60px;
          opacity: 1;
          transform: scale(1);

          .about {
            display: block;
            h2 {
              
              font-size: 1em;
            }

            p {
              color: $colorText;
              font-size: 0.9em;
            }
          }
        }

        &:hover .caption {
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .shop {
    margin: 15% 2%;
    .galerie {
      gap: 10px;

      .produit {
        width: 46%;

        img {
        }

        &:hover img {
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .shop {
    margin: 15% 5%;
    .galerie {
      .produit {
        width: 250px;

        img {
        }

        &:hover img {
        }
      }
    }
  }
}
