.header {
  height: 90px;
  width: 100%;

  .nav {
    background-color: $colorNavBg;
    position: relative;

    .nav-small {
      width: 100%;
      height: 100vh;
      background-color: green;
      z-index: 10000;
      position: fixed;
      display: none;
    }

    .hamburger {
      display: none;
      cursor: pointer;
      color: $colorBlue;
    }

    .ul {
      padding-left: 5%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 70%;
      z-index: 100;

      li {
        font-size: 1.2em;
        position: relative;

        .nav-active {
          color: $colorBlue;

          &::before {
            content: '';
            width: 7px;
            height: 7px;
            position: absolute;
            background-color: $colorBlue;
            border-radius: 50%;
            right: 50%;
            top: 100%;
            transform: translate(50%, 50%);
          }
        }

        a {
          text-decoration: none;
          color: $colorHeaderFont;
          transition: color 0.2s;

          &:hover {
            color: $colorBlue;
          }

          &:visited {
            color: none;
          }
        }
      }

      img {
        width: 90px;
      }
    }

    div {
      position: absolute;
      top: 50%;
      right: 0;
      margin-right: 5%;
      transform: translate(-50%, -50%);

      .nav-active svg {
        color: $colorBlue;
      }

      .nav-active::before {
        content: '';
        width: 7px;
        height: 7px;
        position: absolute;
        background-color: $colorBlue;
        border-radius: 50%;
        right: 40%;
        top: 100%;
        transform: translate(50%, 50%);
      }

      svg {
        color: $colorHeaderFont;

        &:hover {
          color: $colorBlue;
        }
      }
    }

    .hamburger {
    }
  }
}

@media (max-width: 600px) {
  .header {
    height: 70px;

    .nav {
      display: flex;

      .nav-small {
      }

      .hamburger {
      }

      .ul {
        li {
          .nav-active {
            &::before {
            }
          }

          a {
            display: none;

            &:hover {
            }

            &:visited {
            }
          }
        }

        img {
          width: 70px;
        }
      }

      .cart {
        display: none;
      }

      div {
      }

      .hamburger {
        display: block;
      }
    }
  }
}
