.header {
  height: 90px;
  width: 100%;

  .nav {
    background-color: $colorNavBg;
    position: relative;

    

    .ul {
      padding-left: 5%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 70%;
      z-index: 100;

      li {
        font-size: 1.2em;
        position: relative;

        .nav-active {
          color: $colorBlue;

          &::before {
            content: '';
            width: 7px;
            height: 7px;
            position: absolute;
            background-color: $colorBlue;
            border-radius: 50%;
            right: 50%;
            top: 100%;
            transform: translate(50%, 50%);
          }
        }

        a {
          text-decoration: none;
          color: $colorHeaderFont;
          transition: color 0.2s;

          &:hover {
            color: $colorBlue;
          }

          &:visited {
            color: none;
          }
        }
      }

      img {
        width: 90px;
      }
    }

    div {
      position: absolute;
      top: 50%;
      right: 0;
      margin-right: 5%;
      transform: translate(-50%, -50%);

      span {
        position: absolute;
        font-size: 0.8em;
        top: -15px;
        background-color: $colorBlue;
        border-radius: 50%;
        text-align: center;
        padding: 6px;
 
        &:focus {
          background-color: $colorFooterFont;
        }
      }

      &:hover span {
        color: black;
        background-color: $colorFooterFont;
      }

      &:hover svg {
        color: $colorBlue;
      }
      
      

      .nav-active svg {
        color: $colorBlue;
      }

      .nav-active span {
        background-color: $colorFooterFont;
      }

      .nav-active::before {
        content: '';
        width: 7px;
        height: 7px;
        position: absolute;
        background-color: $colorBlue;
        border-radius: 50%;
        right: 40%;
        top: 100%;
        transform: translate(50%, 50%);
      }

      svg {
        color: $colorHeaderFont;

        

        &:hover {
          
        }
      }
    }

    .ham__menu {
      display: none;
      cursor: pointer;
 }




  }
}

@media (max-width: 900px) {
  .header {
    

    .nav {
      display: flex;


      .ul {
        li {
          .nav-active {
            &::before {
            }
          }

          a {
            display: none;

            &:hover {
            }

            &:visited {
            }
          }
        }

        img {
          
        }
      }

      .cart {
        
      }

      div {
        display: none;
      }

      .ham__menu {
        display: block;
      }
    }
  }
}
