.header-small {
  width: 70%;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: 150;
  background-color: $colorCategBg;
  transition: all 0.3s ease-out;

  .nav {
    width: 100%;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;

    .ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      li {
        font-size: 1.2em;
        position: relative;

        .nav-active {
          color: $colorBlue;

          &::after {
            content: '';
            width: 7px;
            height: 7px;
            position: absolute;
            background-color: $colorBlue;
            border-radius: 50%;
            top: 45%;
            right: -20%;
          }
        }

        a {
          text-decoration: none;
          color: $colorHeaderFont;
          transition: color 0.2s;

          &:hover {
            color: $colorBlue;
          }

          &:visited {
            color: none;
          }
        }

        &:last-child {
          position: relative;
          .nav-active {
            color: $colorBlue;
            &::after {
              content: '';
              
              
              background-color: transparent;
              border-radius: 50%;
            
            }
          }

          span {
            color: black;
            background-color: $colorFooterFont;
            border-radius: 50%;
            position: absolute;
            padding: 5px;
            top: -100%;
            right: -100%;
          }

          &:hover span {
            background-color: $colorBlue;
            color: white;
          }
        }
      }

      img {
        width: 90px;
      }
    }

 

    .ham__menu {
      display: none;
      cursor: pointer;
    }
  }
}

.open {
  transform: translateX(0);
}
