.fiche-produit {
  margin: 5% 5%;
  display: flex;

  .images {
    width: 45%;
    img {
      width: 100%;
    }

    .photo-mini {
      display: flex;
      justify-content: space-between;
      width: 100%;
      img {
        width: 33%;
      }
    }
  }
  

  .informations {
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 35%;
    padding-bottom: 15%;
    h2 {
      font-size: 4em;
    }

    .description {
      color: $colorText;
      
    }

    .dimensions {
      color: $colorText;
      
    }

    .prix {
      color: $colorText;
      font-size: 1.2em;
    }

    button {
      color: $colorText;
      font-size: 1em;
    }
  }
}

@media (max-width: 1090px) {
  .fiche-produit {

  
    .images {


      img {

      }
  
      .photo-mini {

        

        img {
        
        }
      }
    }
    
  
    .informations {

      width: 40%;
      

      h2 {
        
      }
  
      .description {

        
      }
  
      .dimensions {
      
      }
  
      .prix {
 
      }
  
      button {

      }
    }
  }
}

@media (max-width: 960px) {
  .fiche-produit {
    
  
    .images {


      img {

      }
  
      .photo-mini {

        

        img {
        
        }
      }
    }
    
  
    .informations {

     width: 50%;
      

      h2 {
        font-size: 2em;
      }
  
      .description {

      
      }
  
      .dimensions {
        
      }
  
      .prix {
 
      }
  
      button {

      }
    }
  }
}

@media (max-width: 700px) {
  .fiche-produit {
    flex-direction: column;
    margin: 5% 5%;
  
    .images {
      display: flex;
      width: 100%;

      img {
        width: 70%;
      }
  
      .photo-mini {
        margin-left: 2%;
        width: 25%;
        display: flex;
        flex-direction: column;

        img {
          width: 100%;
        }

        img:not(:last-child) {
          
          margin-bottom: 8%;
         
        }
      }
    }
    
  
    .informations {
      width: 80%;
      padding: 0;
     
      

      h2 {
        font-size: 2em;
        padding-bottom: 2%;
      }
  
      .description {

        font-size: 1em;
        padding-bottom: 2%;
      }
  
      .dimensions {
        font-size: 1em;
        padding-bottom: 2%;
      }
  
      .prix {
 
        padding-bottom: 2%;
      }
  
      button {
        padding-bottom: 2%;

      }
    }
  }
}

@media (max-width: 425px) {
  .fiche-produit {
    margin: 5% 2%;
  
    .images {
      flex-direction: column;
      width: 100%;

      img {
        width: 100%;
      }
  
      .photo-mini {
        margin-top: 1%;
        margin-left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;

        img {
          width: 33%;
          margin: 0;
         
        }
       

        img:not(:last-child) {
          
          margin-bottom: 0;
         
        }
      }
    }
    
  
    .informations {

     
      

      h2 {

      }
  
      .description {

        font-size: 0.9em;
        
      }
  
      .dimensions {
        font-size: 0.9em;
        
      }
  
      .prix {
 
       
      }
  
      button {
        

      }
    }
  }

}
