.social-network {
  position: fixed;
  top: 40%;
  left: -20px;
  z-index: 1000;

  div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 35px;
    transition: transform 0.2s;
    width: 50px;

    &:hover {
      transform: scale(1.2) translateX(20px);
    }

    
    
    a {
      margin-top: 40px;
      transition: transform 0.5s;
      width: fit-content;
      transition: 0.5s all;
      
      display: flex;
      align-items: center;
      justify-content: center;
      
      
  
      svg {
        transition: all 0.5s;
        fill: black;
        stroke: white;
        
  
        &:hover {
          transform: rotate(1turn);
        }
      }
  
      &hover {
        
      }
    }

    &:hover .facebook {
      border-radius: 50%;
      padding: 5px;
      background-color: rgb(25,119,243);
      fill: white;
      stroke: transparent;
      transition: 0.5s all;
      
    }
    &:hover .instagram {
      border-radius: 50%;
      padding: 5px;
      background-color: white;
      fill: rgb(223,67,48);
      fill: 2px;
      stroke: white;
      transition:all 0.5s ;
      
    }

    &:hover .gmail {
      border-radius: 50%;
      padding: 5px;
      background-color: grey;
      fill: rgb(239,239,239);
      fill: 2px;
      stroke: rgb(220,66,52);
      transition:all 0.5s ;
      
    }
  }


}

@media (max-width: 1000px) {
  .social-network {
    

    div {
      padding-left: 25px;
      &:hover {
      }
  
      a {
        svg {
          width: 18px;
  
          &:hover {
          }
        }
  
        &hover {
        }
      }
    }
    }

    
}



@media (max-width: 600px) {
  .social-network {
    display: none;

    &:hover {
    }

    a {
      svg {
        width: 18px;

        &:hover {
        }
      }

      &hover {
      }
    }
  }
}
