/*
  font 
*/

$mainFont: 'Inconsolata', monospace;
$titleFont: 'Caladea', serif;





/*
  color 
*/

$colorHeaderFont: #FD9B8A;
$colorBlue: rgba(145, 117, 255, 0.56) ;
$colorText: rgba(134, 90, 71, 1);



/*
  size 
*/
$mainFontSize: 18px;
$titleFontSize : 3.5em;
