/*
  font 
*/

$mainFont: 'Inconsolata', monospace;
$titleFont: 'Caladea', serif;





/*
  color 
*/

$colorHeaderFont: #FD9B8A;
$colorBlue: #9175FF ;



/*
  size 
*/
$mainFontSize: 18px;
$titleFontSize : 3.5em;
